<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Hello, Spring!</title>
    <style>
        body { padding-top: 20px; padding-bottom: 20px; }
        .container { max-width: 730px; }
        .header { border-bottom: 1px solid #e5e5e5; margin-bottom: 30px; padding-bottom: 10px; }
    </style>
</head>